body{
    // centers about page content
    .aboutCont{
        flex-wrap: wrap;
        justify-content: space-around;
        flex-direction: row;
        align-content: center;
        // horizontally aligns the accordion
        .accordionInfo{
            width: 70%;

            // edits the image of me
            .myImage{
                padding: {
                    right: 1rem;
                    bottom: .25rem;
                };
                border-radius: 100%;
                float: left;
                width: 10rem;
            }
        }
    }
}