body{
    // makes contact grid container center
    .contactCont{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        // edits the cards that will show onhover
        .targetInfo{
            height: 50%;
        };
    };
}