body{
    // allows contact section to be centered
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;

    // makes contact grid container center
    .contactCont{
        flex-direction: column;
        align-items: center;
        align-content: space-evenly;
        justify-content: space-evenly;
        height: 60%;
        border: 10px solid rgb(58, 58, 58);
        background-color: rgb(255, 255, 255);

        // edits the text of info and hides it
        .info{
            color: rgb(33, 38, 38);
        }

        // edits the svg size
        .icon{
            width: 45%;
        }
    };
}