body{
    // sizes drip stone cave aspects to be the size of the screen
    .caveDrip{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
    }

    // centers slideshow area between arrows
    .carouselProjects{
        margin: {
            left: 14rem;
            right: 14rem;
        }
        width: auto;

        // makes card blend into background
        .card {
            background-color: black;
            color: rgb(106, 106, 106);
        }

            // makes project image darker abd rounds borders
            .projectImg {
                filter: brightness(50%);
                border-radius: 3%;
            }
    }
}