body{
    // sizes drip stone cave aspects to be the size of the screen
    .caveDrip{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        // allows you to click through image
        pointer-events: none;
    }

    // vertically centers content of page
    .projectCont{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        align-content: space-around;

        // centers slideshow area between arrows
        .carouselProjects {
            margin: {
                left: 14rem;
                right: 14rem;
            }
            width: auto;
    
            // adds transition to the project slides
            .carousel-item {
                transition: .5s all;
            }
    
            // makes card blend into background
            .card {
                background-color: black;
    
                // changes the color of the button to navigate to the project
                .linkButton {
                    filter: brightness(30%);
                    background-color: rgb(33, 38, 38);
                    border-color: rgb(33, 38, 38);
                }
            }
    
            // makes project image darker and rounds borders
            .projectImg {
                filter: brightness(55%);
                border-radius: 3%;
            }
        }
    }
}