body{
    // sizes drip stone cave aspects to be the size of the screen
    .caveDrip{
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        // allows you to click through image
        pointer-events: none;
        z-index: 5;
    }

    // vertically centers content of page
    .projectCont{
        flex-wrap: wrap;
        align-content: space-around;

        // centers slideshow area between arrows
        .carouselProjects {
            margin: {
                left: 10rem;
                right: 10rem;
            }
            width: auto;
    
            // adds transition to the project slides
            .carousel-item {
                transition: .5s all;
            }
    
            // makes card blend into background
            .card {
                background-color: white;
                border-radius: 3%;
                height: 100%;
                display: flex;
                flex-direction: column;

                // centers the info on the middle of the card
                .card-body{
                    padding: {
                        top: 2rem;
                        bottom: 2rem;
                    }
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    align-items: center;

                    // changes the color of the button to navigate to the project
                    .linkButton {
                        // filter: brightness(30%);
                        background-color: rgb(33, 38, 38);
                        border-color: rgb(33, 38, 38);
                        width: 60%;
                    }
                
                    // edits the color of the title text
                    .card-title {
                        color: rgb(33, 38, 38);
                    }
                
                    // edits text color in card
                    .card-text {
                        color: rgb(53, 61, 61);
                    }
                }
    
                
            }
    
            // makes project image darker and rounds borders
            .projectImg {
                // filter: brightness(55%);
                border-radius: 3%;
            }
        }
    }
}