// import partials
@import "./partials/reset", "./partials/project", "./partials/font";

body{
    &::-webkit-scrollbar-thumb:vertical {
        background: "./images/batarang.png";
        background-size: 26px 63px;
        display: block;
        width: 30px;
        height: 100px;
    }

    background-color: black;
}

// changes font family
*{
    font-family: batman2;
}