// import partials
@import "./partials/reset", "./partials/project", "./partials/font", "./partials/index";

body{
    &::-webkit-scrollbar-thumb:vertical {
        background: "./images/batarang.png";
        background-size: 26px 63px;
        display: block;
        width: 30px;
        height: 100px;
    };

    // cursor: url('./batarang.png'),auto;
    background-color: black;
}